/* Importa el motor de Tailwind v4 */
@import "tailwindcss";

/*  vistas de CodeIgniter */
@source "../../app/Views/**/*.php";

/* dark mode per class */
@custom-variant dark (&:is(.dark *));

/* 3. Tu configuración de Tema (Colores y Fuentes) */
@theme {
  --color-primary: #111111;
  --color-background-light: #ffffff;
  --color-background-dark: #0a0a0a;
  --color-accent-gray: #666666;

  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

/* 4. Tus clases utilitarias personalizadas */
@layer utilities {
  .material-symbols-outlined { 
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24; 
  }
  
  .dropdown:hover .dropdown-menu { 
    display: block; 
  }
  
  @media (min-width: 1024px) {
    .hero-16-9 { 
      min-height: 56.25vw; 
    }
  }
}